<div class="side-bar-content">
  <ul class="feeling-lists">
    <li class="lists-heading">「気持ち」で投稿を探す</li>
    <li class="feeling-list"><%= link_to "最高", "#" %></li>
    <li class="feeling-list"><%= link_to "ヤバい", "#" %></li>
    <li class="feeling-list"><%= link_to "尊い", "#" %></li>
    <li class="feeling-list"><%= link_to "楽しい", "#" %></li>
    <li class="feeling-list"><%= link_to "面白い", "#" %></li>
    <li class="feeling-list"><%= link_to "テンション上がる", "#" %></li>
    <li class="feeling-list"><%= link_to "癒される", "#" %></li>
    <li class="feeling-list"><%= link_to "かわいい", "#" %></li>
    <li class="feeling-list"><%= link_to "カッコいい", "#" %></li>
    <li class="feeling-list"><%= link_to "キレイ", "#" %></li>
    <li class="feeling-list"><%= link_to "選択肢じゃ表せない", "#" %></li>
  </ul>
  <ul class="color-lists">
    <li class="lists-heading">「色」で投稿を探す</li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("red.png", class: "color-img") %>
        <p>レッド</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("pink.png", class: "color-img") %>
        <p>ピンク</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("orange.png", class: "color-img") %>
        <p>オレンジ</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("yellow.png", class: "color-img") %>
        <p>イエロー</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("green.png", class: "color-img") %>
        <p>グリーン</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("blue.png", class: "color-img") %>
        <p>ブルー</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("purple.png", class: "color-img") %>
        <p>パープル</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("brown.png", class: "color-img") %>
        <p>ブラウン</p>
      <% end %>
    </li>
    <li class="color-list">
      <%= link_to "#", class: "color-link" do %>
        <%= image_tag("gray.png", class: "color-img") %>
        <p>グレー</p>
      <% end %>
    </li>
  </ul>
</div>