<div class="wrapper">
  <div class="form-wrapper">
    <h1 class="page-heading">ログイン</h1>
    <div class="login-flash-message">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>
    <%= form_with model: @user, url: user_session_path, local: true do |f| %>
      <div class="field">
        <%= f.label :email, "Eメール" %><br />
        <%= f.email_field :email, id: "user-email", class: "input-form", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password, "パスワード（6文字以上）" %><br />
        <%= f.password_field :password, id: "user-password", class: "input-form", autocomplete: "current-password" %>
      </div>

      <div class="actions">
        <%= f.submit "ログインする", class: "form-btn" %>
      </div>
    <% end %>
  </div>
</div>