<div class="form__wrapper">
  <h1 class="page-heading">Log in</h1>
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <div class="field">
      <%= f.label :email, "Email" %><br />
      <%= f.email_field :email, id:"user_email", class: :text_field, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password, "Password ※6文字以上" %><br />
      <%= f.password_field :password, id:"user_password", class: :text_field, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: :form__btn %>
    </div>
  <% end %>
</div>