<div class="post <%= border_color(post) %>">
  <div class="post-header">
    <%= post.feeling.name %>
  </div>
  <div class="post-image">
    <% if post.image.attached? %>
      <%= image_tag post.image %>
    <% else %>
      <%= image_tag "alt_image.png" %>
    <% end %>
  </div>
  <div class="post-text">
    <%= post.text %>
  </div>
  <div class="post-footer">
    <div class="post-date">
      <%= l post.created_at %>
    </div>
    <%= link_to "by #{post.user.nickname}", "#" %>
  </div>  
</div>